<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Foodfy</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="admin">

    <header>
      <div class="container">
        <div class="logo">
          <a href="/admin/recipes"><img src="/images/logo-white.png" alt="Logo Foodfy"></a>
        </div>
      </div>
    </header>
      {% block content %}

      {% endblock %}

  </div>

</body>
</html>