{% extends "admin/layout.njk" %}

{% block content %}
<div class="container">

<section id="recipe">
  <div class="recipe-top">
    <div class="recipe-name">
      <h2>Receita: {{ recipe.title }}</h2>
    </div>
    <a href="/admin/recipes/{{ recipe.id }}/edit" class="btn">Editar Receita</a>
  </div>

    <div class="recipe__image-container">
      <img src="{{ recipe.image }}" alt="">
    </div>

    <div class="recipe__header">
      <h1>{{ recipe.title }}</h1>
      <p>por {{ recipe.author }}</p>
    </div>

    <div class="recipe-content">
      <h2>Ingredientes</h2>
      <div class="content">
        <ul>
        {% for ingredient in recipe.ingredients %}
          <li><span>-</span>{{ ingredient }}</li>  
        {% endfor %}
        </ul>
      </div>
      <h2>Modo de preparo</h2>
      <div class="content">
        <ul>
          {% for preparation in recipe.preparation %}
            <li><span>-</span>{{preparation}}</li>  
          {% endfor %}
        </ul>
      </div>
      <h2>Informações Adicionais</h2>
      <div class="content">
        <div>{{ recipe.information | escape | nl2br }}</div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}