<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Foodfy</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="flex">
    <div class="container">

      <header>
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="Logo Foodfy"></a>
        </div>
        <div class="menu">
          <a href="/about">Sobre</a>
          <a href="/recipes">Receitas</a>
        </div>
      </header>
      {% block content %}

      {% endblock %}

    </div>

    <footer id="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

  {% block scripts %}
  {% endblock %}

</body>
</html>